* {
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: rgb(39, 39, 39);
}

.container {
  text-align: center;
  border-radius: 50px;
  box-shadow: 10px 10px 15px rgb(14, 14, 14);
  transform: translateX(120px);
  background-color: rgb(122, 122, 122);
  height: 500px;
  width: 1000px;
}

.heading .content {
  transform: translateY(30px);
}

.prompt {
  transform: translateY(20px);
  height: 100px;
}

.prompt .image_input {
  transform: translateY(20px);
  padding-left: 20px;
  width: 500px;
  height: 50px;
  border: none;
  border-radius: 100px;
  outline: none;
}

.prompt_submission {
  display: inline-block;
  transform: translate(10px, 20px);
}

.submit {
  background-color: black;
  width: 100px;
  height: 50px;
  border: none;
  border-radius: 20px;
}

.submit:hover {
  cursor: pointer;
}

.prompt_submission:hover {
  cursor: pointer;
}

.images_container {
  transform: translateY(30px);
}

.images {
  -moz-perspective: 10000px;
  display: inline-block;
  margin: 20px;
  height: 150px;
  width: 250px;
  border-radius: 20px;
  background-size: cover;
  transition: all 0.5s;
}

.image {
    background-size: cover;
  border-radius: 20px;
  height: inherit;
  width: inherit;
}

.images:hover {
  box-shadow: 10px 10px 15px rgb(14, 14, 14);
  cursor: pointer;
  transform: translateY(-20px);
}

.lds-roller, .lds-roller div, .lds-roller div:after {
  box-sizing: border-box;
}

.lds-roller {
    -moz-perspective: 10000px;
    display: inline-block;
    transform: translateY(50px);
    margin: 20px;
    height: 150px;
    width: 250px;
    border-radius: 20px;
    padding-left: 90px;
    padding-top: 30px;
}

.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}

.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7.2px;
  height: 7.2px;
  border-radius: 50%;
  background: currentColor;
  margin: -3.6px 0 0 -3.6px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 62.62742px;
  left: 62.62742px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 67.71281px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 70.90963px;
  left: 48.28221px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 70.90963px;
  left: 31.71779px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 67.71281px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 62.62742px;
  left: 17.37258px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12.28719px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


